.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 0;
}

.home-page-resize {
    width: 90%;  
    margin: 0 auto;
}

.page-resize {
    width: 90%;  
    margin: 0 auto;
}

.nav-list {
    margin-bottom: 0;
}

.nav-list li {
    display: inline-block;
    padding: 10px;
}

.nav-list li a {
    color: #000000;
}

.title-section {
    display: flex;
}

// .nav-list {
//     display: none;
//   }

// .nav-list a.icon {
//     background: black;
//     display: block;
//     position: absolute;
//     right: 0;
//     top: 0;
//   }

.about {
    display: flex;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    // border-top: 1px solid #000000;
}

.about p {
    width: 80%;
    // margin: 0 auto;
    text-align: center;
    // padding: 100px 0;
    font-size: 32px;
    font-weight: bold;  
    color: #ffffff;
}

.recent-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fill-div {
    width: 100%;
    border: 1px solid black;
    padding: 75px 0;
    text-align: center;
    margin-top: 15px;
    font-size: 32px;
}

.mobile-nav {
    display:none;
}

// a.fill-div {
//     display: block;
//     height: 100%;
//     width: 100%;
//     text-decoration: none;
// }
@media (max-width: 767px) {
    // .nav-container {
    //     display: block;
    // }
    .mobile-nav {
        display: contents;
    }

    .nav-container {
        display: none;
    }
    
    .nav-container-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        
    }

    .nav-list-mobile {
        display: none;
    }

    .nav-list-mobile li {
        padding: 8px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
    
      .nav-list-mobile li a {
        color: #000000;
      }

  }
  
  