.page-width {
    width: 90%;
    margin: 0 auto;
}

.post-card {
    border: 1px solid black;
    margin-top: 25px;
    padding: 20px;
    background-color: black;
    color: #ffffff;
}
.post-card a {
    text-decoration: none;
    color: #ffffff;
}


.card-details {
    display: flex;
    justify-content: space-between;
}

.card-details a {
    border: 1px solid #ffffff;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
}

.card-details a:hover {
    text-decoration: none;
    color: #ffffff;
}
