.page-width {
    width: 90%;
    margin: 0 auto;
}

.post-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 0px 25px;
}

.post-card {
    border: 1px solid black;
    margin-top: 25px;
    padding: 20px;
    background-color: black;
    color: #ffffff;
    width: 100%;
}
.post-card a {
    text-decoration: none;
    color: #ffffff;
}


// .card-details {
//     display: flex;
//     justify-content: space-between;
// }

.card-details a {
    border: 1px solid #ffffff;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
}

.card-details a:hover {
    text-decoration: none;
    color: #ffffff;
}
