#body img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.comment-section {
    margin-top: 25px;
}

#comment-body {
    margin-top: 25px;
}

div.input.string.optional.comment_description {
    margin-right: 10px
}

.page-resize {
    border-bottom: 1px solid black;
}